:root {
    --buttonw: min(198px, 30vh, 30vw);
}
* {
    /*border: 1px dashed red;*/
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    max-width: 100%;
    font-family: "Gill Sans", Arial, "sans-serif";
    background: url(img/bg_paper.jpg) repeat;
    display: flex;
    flex-direction: column;
    align-content: center;
}
h1 {
    padding: 15px;
}
h2 {
    padding: 15px;
}
a {
    color: black;
    text-decoration: none;
}
.content-container {
    flex-grow: 1;
}
.button {
    width: var(--buttonw);
    height: var(--buttonw);
    position: absolute;
    margin: auto;
    top: calc(50% - var(--buttonw)*0.5);
    left: calc(50% - var(--buttonw)*0.5);
    background: red;
    text-align: center;
    border: 4px solid transparent;
    border-radius: 15px;
    transition: 0.3s;
}
.button:hover {
    border: 4px solid black;
    transition: 0.2s;
}
#muuritis {
    animation: circling 120s linear infinite;

    background: url(img/skeem-betoonarv.png) no-repeat center;
    background-size: contain;
}
#shs {
    animation: circling 120s linear infinite;
    animation-delay: -30s;

    background: url(img/skeem-shs.png) no-repeat center;
    background-size: contain;
}
#ipe {
    animation: circling 120s linear infinite;
    animation-delay: -60s;

    background: url(img/skeem-ipe.png) no-repeat center;
    background-size: contain;
}
#concrete {
    animation: circling 120s linear infinite;
    animation-delay: -90s;

    background: url(img/skeem-betoon.png) no-repeat center;
    background-size: contain;
}
@keyframes circling{
    0%{
        transform: rotate(0deg) translateX(calc(min(30vw, 30vh))) rotate(-0deg);
    }
    100%{
        transform: rotate(360deg) translateX(calc(min(30vw, 30vh))) rotate(-360deg);
    }
}
.footer {
    padding: 20px 40px;
    width: auto;
    margin-top: auto;
    text-align: right;
    font-size: smaller;
    font-style: italic;
    color: grey;
}


form {
    grid-gap: 20px;
    margin-top: 30px;
}
label {
    display: block;
    width: 70%;
    float: left;
    text-align: right;
    padding-right: 10px;
}
.input-container {
    display: flex;
    align-items: center;
    padding-bottom: 7px;
}
input[type="number"] {
    text-align: right;
    width: 20%;
    min-width: 50px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    float: left;
}
input[type="submit"]:hover {
    background-color: #3e8e41;
}
.input-unit{
    width: 10%;
    float: left;
    font-style: italic;
    padding-left: 5px;
}
.resultText {
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}
.calculationResult {
    margin-top: 30px;
    font-size: 1.2rem;
    font-style: italic;
}
.dataListString {
    font-size: 0.8rem;
    line-height: 150%;
    font-weight: normal;
    font-style: italic;
}
canvas {
    border: 1px solid black;
    background-color: white;
}
.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: calc(100% - 30px);
    margin: 0 15px;
}
.item-flex {
    width: 100%;
    max-width: 400px;
    padding: 15px;
}